logs/*.log
specs/logs/*.log
specs/postgrest/settings.config
specs/postgrest/postgrest-0.4.3.0-osx
specs/postgrest/postgrest-*
compose_env/.analytics_service_api.env
compose_env/.platform_service_api.env
compose_env/.community_service_api.env
compose_env/.project_service_api.env
compose_env/.payment_service_api.env
compose_env/.process_payment_dispatcher.env
compose_env/.payment_processor_dispatcher.env
seed.sql
compose_env/.service_core_migrator.env
compose_env/.service_core_db.env
compose_env/.subscriptions_scheduler.env
specs/database/schema.sql
compose_env/.hook_service_api.env
compose_env/.notification_dispatcher.env
compose_env/.notification_service_api.env
compose_env/.catarse_api.env
compose_env/.credit_cards_dispatcher.env
compose_env/.payment_stream_processor.env
compose_env/.recommender_service_api.env
target/
Cargo.lock
compose_env/.catarse_moment_service_api.env
.common_api.env
compose_env/.common_api.env
compose_env/.common_proxy.env
