#!/bin/sh
# change this file to make manual subtree pushes
#ssh-keyscan -t rsa ${SUBTREE_PUSH_DOMAIN} >> "${HOME}/.ssh/known_hosts"

$CATARSE_JS_SUBTREE_REMOTE=""
$CATARSE_SUBTREE_REMOTE=""
$COMMON_API_SUBTREE_REMOTE=""
$SERVICE_CORE_DB_SUBTREE_REMOTE=""
$PROXY_SUBTREE_REMOTE=""
$HOOK_SERVICE_SUBTREE_REMOTE=""
$NOTIFICATION_SERVICE_SUBTREE_REMOTE=""
$PAYMENT_SERVICE_SUBTREE_REMOTE=""

$SUBTREE_BRANCH=""

git remote add catarse.js $CATARSE_JS_SUBTREE_REMOTE
git remote add catarse $CATARSE_SUBTREE_REMOTE
git remote add common-api $COMMON_API_SUBTREE_REMOTE
git remote add service-core-db $SERVICE_CORE_DB_SUBTREE_REMOTE
git remote add proxy $PROXY_SUBTREE_REMOTE

git remote add hook-service-api $HOOK_SERVICE_SUBTREE_REMOTE
git remote add notification-service-api $NOTIFICATION_SERVICE_SUBTREE_REMOTE
git remote add payment-service-api $PAYMENT_SERVICE_SUBTREE_REMOTE

set -e

echo 'pushing catarse.js...'
git subtree push --prefix=services/catarse.js catarse.js $SUBTREE_BRANCH

echo 'pushing catarse...'
git subtree push --prefix=services/catarse catarse $SUBTREE_BRANCH

echo 'pushing service-core-db...'
git subtree push --prefix=services/service-core-db service-core-db $SUBTREE_BRANCH

echo 'pushing common-api...'
git subtree push --prefix=services/common-api common-api $SUBTREE_BRANCH

echo 'pushing proxy...'
git subtree push --prefix=services/proxy proxy $SUBTREE_BRANCH

echo 'pushing hook-service-api...'
git subtree push --prefix=services/hook-service-api hook-service-api $SUBTREE_BRANCH

echo 'pushing notification-service-api...'
git subtree push --prefix=services/notification-service-api notification-service-api $SUBTREE_BRANCH

echo 'pushing payment-service-api...'
git subtree push --prefix=services/payment-service-api payment-service-api $SUBTREE_BRANCH
