= render 'layouts/include_redactor_assets'

javascript:
  const userName = "#{resource.decorator.display_name}";

  function updatePageTitle() {
    const pageTitleKey = window.location.href.split("#")[1] || 'contributions'
    const path = `users.edit.menu.${pageTitleKey}`;
    document.title = `${I18n.t(path)} - ${userName}`;
  };

  window.addEventListener('hashchange', updatePageTitle);
  document.addEventListener('DOMContentLoaded', updatePageTitle);

#application data-userid=resource.id

- content_for :application_js do
  = render 'layouts/include_catarsejs'
