$button-primary: #418600;
$button-primary-hover: #346B00;
$button-primary-active: #2A5600;

$button-secondary-default: #3F4752;
$button-secondary-hover: #2F343A;
$button-secondary-active: #1F2225;

$button-danger: #CA4B4E;
$button-danger-hover: #A23C3E;
$button-danger-active: #813032;

$text-primary: #FFFFFF;
$text-success: #418600;
$text-default: #3F4752;
$text-subdued: #707782;

$surface-base-default: #FFFFFF;
$surface-base-subdued: #FAFBFB;

$border-base-default: #DDDDDD;