{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}