PORT=80
PROTO_SCHEMA=http
PAYMENT_SERVICE_API_SERVER='payment_service_api:3000'
PROJECT_SERVICE_API_SERVER='project_service_api:3000'
COMMUNITY_SERVICE_API_SERVER='community_service_api:3000'
ANALYTICS_SERVICE_API_SERVER='analytics_service_api:3000'
CATARSE_MOMENT_SERVICE_API_SERVER='catarse_moment_service_api:3000'
NOTIFICATION_SERVICE_API_SERVER='notification_service_api:3000'
RECOMMENDER_SERVICE_API_SERVER='recommender_service_api:3009'
COMMON_SERVICE_API_SERVER='common_api:3000'
DB_HOST=10.0.1.43
DB_PORT=5432
DB_USERNAME=proxy_server
DB_PASSWORD=example
DB_NAME=service_core
DNS_RESOLVER=8.8.8.8
